@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

li {
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

span {
  text-decoration: none;
}

/* var */
/* font */
/* color */
/* commponents */
.btn-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 9px 25px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#D15F0D), to(#9E4200));
  background: linear-gradient(180deg, #D15F0D 0%, #9E4200 100%);
  border-radius: 6px;
}

.btn-main:hover {
  background: #D15F0D;
  -webkit-filter: drop-shadow(0px 0px 8px #FF832A);
          filter: drop-shadow(0px 0px 8px #FF832A);
}

.btn-main .btn-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.btn-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  padding: 9px 25px !important;
  background: #fff;
  border: 2px solid #D15F0D;
  border-radius: 6px;
}

.btn-second span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #181818;
  position: relative;
  z-index: 3;
}

.btn-second::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #D15F0D;
  z-index: 1;
}

.btn-second:hover {
  -webkit-filter: drop-shadow(0px 0px 8px #FF832A);
          filter: drop-shadow(0px 0px 8px #FF832A);
}

.btn-second:hover span {
  color: #fff;
}

.btn-second:hover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-animation: move .5s;
          animation: move .5s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #D15F0D;
  z-index: 1;
}

.h2-tittle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
}

.roboto-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 190%;
}

/* aside */
.h2-tittle--aside {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
}

/* container */
.container {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header Top */
.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}

.header-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 46px;
  left: 0;
  background: #F3F3F3;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header-coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-wrapper__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.header-head--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.info--general {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #181818;
}

/* Header Contact*/
.header-wrapper__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.header-contact__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo__tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.logo-tittle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #181818;
}

.logo-description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #181818;
}

.header-logo__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 340px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-left: 36px;
}

.header-logo__description::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 39px;
  left: -18px;
  top: calc(50% - 19px);
  background: #C4C4C4;
}

.header-contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.phone-number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #181818;
  margin-right: 24px;
}

.header-contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  gap: 15px;
}

.header-social__block a {
  height: 23px;
  width: 23px;
}

.header-social__block a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.header-social__block a img {
  height: 100%;
  width: 100%;
}

.header-social__block .viber {
  height: 26px;
  width: 26px;
}

.header-social__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.header-social__description span {
  max-width: 125px;
  text-align: center;
}

/* Header Navigation */
.header-wrapper__nav {
  background-color: #D15F0D;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.nav-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
}

.nav-list::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
}

.nav-list:hover::after {
  width: 100%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 25px;
  color: #fff;
}

/* search */
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #D15F0D;
  padding: 5px 0;
  margin-left: 20px;
}

.btn-search {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  border-left: 2px solid #C4C4C4;
  border-radius: 2px;
}

.btn-search:hover {
  background: #D15F0D;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 312px;
  padding: 9px 0 9px 16px;
  background: #FEFEFE;
  border-color: transparent;
  border-radius: 2px;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-search:focus {
  border: none;
  outline: none;
}

.header-search:focus::-webkit-input-placeholder {
  color: transparent;
}

.header-search:focus:-ms-input-placeholder {
  color: transparent;
}

.header-search:focus::-ms-input-placeholder {
  color: transparent;
}

.header-search:focus::placeholder {
  color: transparent;
}

.header-wrapper__mobile {
  display: none;
  position: fixed;
  width: 100%;
  background: #fff;
  border-bottom: 2px solid #181818;
  padding: 15px 0;
}

.header-wrapper__mobile-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.header-mobile__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.header-mobile__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  z-index: 25;
}

.burger-menu span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #181818;
}

.burger-menu span::after {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  background-color: #181818;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.burger-menu span::before {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  background-color: #181818;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.menu-mobile {
  display: block;
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 20;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  background: #D15F0D;
}

.mobile-nav__list {
  margin: 10px 0;
}

.mobile-nav__link {
  color: #fff;
}

.search-mobile {
  padding: 5px;
  margin: 0;
}

.menu-mobile--none {
  display: block;
  right: -130%;
}

.first-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 505px;
  margin-top: 234px;
  background-image: url("../assets/img/bg-first-screen.png");
}

.first-screen__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-wrapper {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 46px;
  line-height: 160%;
  color: white;
  text-transform: uppercase;
  max-width: 909px;
}

.slide-wrapper span {
  color: #D15F0D;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  background: #D15F0D;
}

.liberties {
  padding: 45px 0;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  max-width: 350px;
  padding-top: 50px;
  margin-right: 30px;
}

.aside-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px !important;
}

.aside-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  position: relative;
}

.aside-list a {
  padding-left: 45px;
  position: relative;
  z-index: 2;
}

.aside-list:first-child {
  background: #D15F0D;
}

.aside-list:first-child a {
  color: #fff;
}

.aside-list:hover {
  cursor: pointer;
}

.aside-list--bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  position: relative;
}

.aside-list--bg a {
  padding-left: 45px;
  position: relative;
  z-index: 2;
}

.aside-list--bg:first-child {
  background: #D15F0D;
}

.aside-list--bg:first-child a {
  color: #fff;
}

.aside-list--bg::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.aside-list--bg:hover {
  cursor: pointer;
}

.aside-list--bg:hover a {
  color: #fff;
}

.aside-list--bg:hover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-animation: move .5s;
          animation: move .5s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #D15F0D;
  z-index: 1;
}

@-webkit-keyframes move {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes move {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.aside-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #181818;
}

.aside-card,
.aside-rewies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.aside-card h3, .aside-card p,
.aside-rewies h3,
.aside-rewies p {
  max-width: 280px;
}

.aside-card h3,
.aside-rewies h3 {
  margin-bottom: 5px;
  text-align: center;
}

.aside-card p,
.aside-rewies p {
  margin-bottom: 15px;
}

.btn-aside {
  margin-bottom: 13px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.66%;
          flex: 1 1 66.66%;
}

.h2-tittle__liberties {
  margin-bottom: 44px;
  padding-left: 29px;
  border-left: 4px solid #D15F0D;
}

.liberties-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.liberties-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto auto auto;
          flex: auto auto auto;
  margin: 10px;
  background: #181818;
  max-width: 250px;
}

.liberties-card__wrapper img {
  display: block;
  height: 200px;
  width: 250px;
}

.liberties-card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
}

.card-wrapper__tittle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 190%;
  color: #fff;
  max-width: 303px;
  margin-bottom: 10px;
}

.card-wrapper__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 190%;
  color: #fff;
  max-width: 303px;
}

/*  Company  */
.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  min-height: 418px;
  padding: 43px;
  background-image: url("../assets/img/bg-company.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 27px;
}

.company::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.company-tittle {
  color: #fff;
  margin-bottom: 22px;
  position: relative;
  z-index: 12;
}

.company-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 190%;
  color: #fff;
  max-width: 517px;
  margin-bottom: 20px;
  position: relative;
  z-index: 12;
}

.btn-company {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: transparent;
  position: relative;
  z-index: 12;
}

/* Specification */
.specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.tittle-specification {
  margin-bottom: 44px;
  padding-left: 29px;
  border-left: 4px solid #D15F0D;
}

.specification-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.specification-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  margin: 15px 35px;
}

.specification-card img {
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.specification-card span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  max-width: 462px;
  min-width: 250px;
  margin-left: 15px;
}

/* Works */
.works {
  padding: 20px 0;
}

.tittle-works {
  margin-bottom: 44px;
  padding-left: 29px;
  border-left: 4px solid #D15F0D;
}

.wrapper-cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  max-width: 504px;
  margin: 0 15px 15px 15px;
}

.wrapper-card img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 260px;
  padding: 20px;
}

.description__block {
  padding: 20px;
}

.work-tittle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}

.work-tittle span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  text-transform: none;
}

.footer {
  background: #181818;
  padding: 34px 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-navigation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list {
  position: relative;
  margin: 5px 0;
}

.footer-list:first-child::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #D15F0D;
}

.footer-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 240%;
  color: #fff;
  padding-left: 15px;
}

.footer-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  position: relative;
}

.footer-time__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 15%;
  background: #fff;
  max-width: 540px;
  padding: 30px;
}

@media all and (max-width: 1150px) {
  .header-wrapper__head,
  .header-wrapper__contact,
  .header-wrapper::after,
  .header-wrapper__nav {
    display: none;
  }
  .first-screen {
    margin-top: 71px;
  }
  .header-wrapper__mobile {
    display: block;
  }
}

@media all and (max-width: 870px) {
  .aside {
    display: none;
  }
  .slide-wrapper {
    font-size: 24px;
  }
  .h2-tittle,
  .logo-tittle {
    font-size: 18px;
  }
}

@media all and (max-width: 570px) {
  .menu-mobile--none {
    width: 100%;
  }
  .specification-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
