.first-screen{
   display: flex;
   min-height: 505px;
   margin-top: 234px;
   background-image: url("../assets/img/bg-first-screen.png");
}
.first-screen__wrapper{
   display: flex;
   height: 100%;
}
.swiper-slide{
   display: flex;
   align-items: center;
}
.slide-wrapper{
   font-family: $font-monserrat;
   font-style: italic;
   font-weight: 700;
   font-size: 46px;
   line-height: 160%;
   color: white;
   text-transform: uppercase;
   max-width: 909px;

   span{
      color: $--bg-main;
   }
}
.swiper-pagination-bullet{
   width: 20px;
   height: 20px;
   background: #fff;
   margin: 0 16px !important; 
}
.swiper-pagination-bullet-active{
   background: $--bg-main;
}