/* Header Top */

.header-wrapper{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   background: #fff;
   z-index: 50;

   &::after{
      content: '';
      position: absolute;
      width: 100%;
      //height: 1px;
      top: 46px;
      left: 0;
     background: #F3F3F3;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);;
   }
}
.header-coll{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.header-wrapper__head{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 0;
   border-bottom: 2px solid $--bg-card;
}
.header-head--link{
   display: flex;
   align-items: center;
   gap: 18px;
}
.info--general{
   font-family: $font-roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: $--bg-card;
}

/* Header Contact*/

.header-wrapper__contact{
   display: flex;
   justify-content: space-between;
   padding: 15px 0;
}

.header-contact__logo{
   display: flex;
   justify-content: center;
}
.header-logo__tittle{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: end;
}
.logo-tittle{
   font-family: $font-monserrat;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   color: #181818;
}
.logo-description{
   font-family: $font-monserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   color: #181818;
}
.header-logo__description{
   display: flex;
   align-items: center;
   position: relative;
   max-width: 340px;
   font-family: $font-monserrat;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   margin-left: 36px;

   &::after{
      content: '';
      position: absolute;
      width: 3px;
      height: 39px;
      left: -18px;
      top: calc(50% - 19px);
      background: #C4C4C4;
   }
}
.header-contact__phone{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}
.phone-number{
   font-family: $font-roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #181818;
   margin-right: 24px;
}
.header-contact__social{
   display: flex;
}
.header-social__block{
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 1 50%;
   gap: 15px;

   a{
      height: 23px;
      width: 23px;
      &:hover{
         transform: scale(1.1);
         transition-duration: .5s;
      }
      img{
         height: 100%;
         width: 100%;
      }
   }
   .viber{
      height: 26px;
      width: 26px;
   }
}
.header-social__description{
   display: flex;
   justify-content: center;
   flex:  1 1 50%;
   
   span{
      max-width: 125px;
      text-align: center;
   }
}

/* Header Navigation */
.header-wrapper__nav{
   background-color: $--bg-main;
}
.header-contact{
   display: flex;
   justify-content: center;
}
.header-nav{
   display: flex;
   justify-content: flex-start;
   padding: 10px 0;
   flex: 1 1 40%;
}
.nav-list{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: 1px solid #fff;
   border-right: 1px solid #fff;
   cursor: pointer;
   &::after{
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 2px;
      width: 0;
      background-color: #fff;
   }
   &:hover{
      &::after{
         width: 100%;
         transition-duration: 1s;
      }
   }
}
.nav-link{
   font-family: $font-roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   padding: 10px 25px;
   color: #fff;
}
/* search */
.search{
   display: flex;
   flex: 1 1 18%;
   background: $--bg-main;
   padding: 5px 0;
   margin-left: 20px;
}
.btn-search{
   border: none;
   outline: none;
   background-color: #fff;
   padding: 10px;
   cursor: pointer;
   border-left: 2px solid#C4C4C4;
   border-radius: 2px;
   &:hover{
      background: $--bg-main;
      transition-duration: 1s;
   }
}
.header-search {
   display: flex;
   align-items: center;
   flex: 1 1 50%;
   width: 100%;
   padding: 9px 0 9px 16px;
   background: #FEFEFE;
   border-color: transparent;
   border-radius: 2px;
   outline: none !important;
   box-shadow: none;
   &:focus {
      border: none;
      outline: none;
   }
   &:focus::placeholder{
      color: transparent;
   }

}

//HeaderBurger

.header-burger{
   display: none;
   height: 20px;
   width: 20px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   span{
      position: relative;
      height: 2px;
      width: 100%;
      background: $--bg-card;

      &::after{
         position: absolute;
         content: '';
         height: 2px;
         width: 100%;
         background: $--bg-card;
         top: 0;
         left: 0;
         transform: translateY(5px);
      }
      &::before{
         position: absolute;
         content: '';
         height: 2px;
         width: 100%;
         background: $--bg-card;
         bottom: 0;
         left: 0;
         transform: translateY(-5px);
      }
   }
}
.header-menu--active{
   right: 100%;
}