@media all and (max-width: 1150px){
   .header-wrapper__head,
   .header-contact__contact-block,
   .header-logo__description,
   .logo-description{
      display: none;
   }
   .header-burger{
      display: flex;
   }
   .header-contact{
      position: fixed;
      top: 0;
      right: -100%;
      width: 50%;
      height: 100%;
      background-color: $--bg-main;
      z-index: 100 ;
      flex-direction: column;
   }
   .header-wrapper__contact{
      align-items: center;
   }
   .header-nav{
      flex-direction: column;
   }
   .nav-list:hover::after{
     width: 0;
   }
   .search{
      padding: 10px;
      margin: 0;
      max-height: 70px;
   }
   .first-screen{
      margin-top: 71px;
   }
}
@media all and (max-width: 870px) {
   .aside{
      display: none;
   }
   .slide-wrapper{
      font-size: 24px;
   }
   .h2-tittle,
   .logo-tittle{
      font-size: 18px;
   }
}
@media all and (max-width: 570px){
   .specification-card{
      flex-direction: column;
      align-items: center;
   }
}