/* var */
/* font */
$font-roboto:'Roboto', sans-serif;
$font-monserrat:'Montserrat', sans-serif;


/* color */
$--bg-main: #D15F0D;
$--bg-card:#181818;


/* commponents */
.btn-main{
   display: flex;
   justify-content: center;
   align-self: center;
   padding: 9px 25px !important;
   background: linear-gradient(180deg, $--bg-main 0%, #9E4200 100%);
   border-radius: 6px;
   &:hover{
      background: $--bg-main;
      filter: drop-shadow(0px 0px 8px #FF832A);
   }
   .btn-text{
      font-family: $font-roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
   }
}

.btn-second{
   display: flex;
   justify-content: center;
   align-self: center;
   position: relative;
   padding: 9px 25px !important;
   background: #fff;
   border: 2px solid $--bg-main;
   border-radius: 6px;
   span{
      font-family: $font-roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $--bg-card;
      position: relative;
      z-index: 3;
   }
   &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: $--bg-main;
      z-index: 1;
   }
   &:hover{
      filter: drop-shadow(0px 0px 8px #FF832A);
      span{
         color: #fff;
      }
      &::after{
         content: '';
         position: absolute;
         height: 100%;
         width: 100%;
         left: 0;
         top: 0;
         animation: move .5s ;
         transition-duration: 1s;
         background-color: $--bg-main;
         z-index: 1;
      }
   }
}

.h2-tittle{
   font-family: $font-monserrat;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 160%;
}

.roboto-description{
   font-family: $font-roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 190%;
}

/* aside */
.h2-tittle--aside{
   font-family: $font-roboto;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 160%;
   color: #fff;
}

/* container */

.container{
   width: 100%;
   max-width: 1520px;
   margin: 0 auto;
   padding: 0 15px;
}
